doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // script(src="javascripts/intersection-observer.js")
    script(src="index.js")
    link(rel="stylesheet" href="index.css")
  body
    .y-snap
      each letter in letters
        .pane(id="letter-"+letter.glyph)
          svg(viewBox="0 0 200 200")
            each path in (letter.paths || [])
              path(d=path)
          div
            .x-snap
              each word in (letter.words || [])
                div=word
