html, body {
  margin: 0;
}
:root {
  --stroke-path: hsl(0, 0%, 20%);
  --background-color: hsl(60, 56%, 97%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --stroke-path: hsl(60, 56%, 97%);
    --background-color: hsl(0, 0%, 20%);
  }
}

path {
  fill: none;
  stroke-width: 1vw;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: var(--stroke-path);
  animation-name: none;
  animation-delay: 0;
}
/* intersection observer*/
body.draw div[id^=letter]:target path {
  animation-name: trace, race;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
/* non intersection observer*/
body:not(.draw) div[id^=letter] path {
  stroke: var(--stroke-path);
  stroke-width: 1.5vw;
  stroke-dasharray: none !important;
  stroke-dashoffset: 0 !important;
}
@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes race {
  40%, 100% {
    stroke-width: 1.5vw;
  }
}

svg {
  pointer-events: none;
}
.y-snap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}
.pane {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}
.pane > * {
  flex: 1 0 50%;
}
.x-snap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  width: 30vw;
  height: 30vh;
  line-height: 30vh;
  white-space: nowrap;
  padding: 3em;
}
.x-snap > div {
  display: inline-block;
  font-family: -apple-system;
  scroll-snap-align: center;
  width: 30vw;
  height: 30vh;
  scroll-snap-align: start;
  text-align: center;
  font-size: 10vw;
}

@media (max-width:500px) {
  path {
    stroke-width: 1vh;
  }
  .pane {
    justify-content: center;
    flex-direction: column;
  }
  @keyframes race {
    40%, 100% {
      stroke-width: 1.5vh;
    }
  }
  .pane > * {
    flex: 1 0 auto;
  }
}

button#installer {
  background: url(touch-icon-ipad.png) left no-repeat;
  font-family: -apple-system;
  position: absolute;
  background-color: navy;
  top: 0;
  right: 0;
  margin: 1em;
  border: thin solid white;
  border-radius: 0.2em;
  color: #fffff0;
  font-size: 1.5em;
  line-height: 1.5em;
  height: 2em;
  background-size: 2em 2em;
  padding-left: 2.5em;
  padding-right: 0.5em;
  cursor: pointer;
}