html, body {
  margin: 0;
}
path {
  fill: none;
  stroke: black;
  stroke-width: 1vw;
/*  stroke-dasharray: 400;*/
/*  stroke-dashoffset: 400;*/
  stroke-linejoin: round;
  stroke-linecap: round;
}
path {
  stroke: white;
  animation-name: none;
  animation-delay: 0;
}
div[id^=letter]:target path {
  animation-name: trace, race;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes race {
  10%, 100% {
    stroke: black;
  }
}

svg {
  pointer-events: none;
}
.y-snap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
.pane {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}
.pane > * {
  flex: 1 0 50%;
}
.x-snap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  width: 30vw;
  height: 30vh;
  white-space: nowrap;
}
.x-snap > div {
  display: inline-block;
  font-family: -apple-system;
  scroll-snap-align: center;
  width: 30vw;
  height: 30vh;
  scroll-snap-align: start;
  text-align: center;
  font-size: 10vh;
}
