html, body {
  margin: 0;
}
path {
  fill: none;
  stroke-width: 1vw;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: white;
  animation-name: none;
  animation-delay: 0;
}
body.draw div[id^=letter]:target path {
  animation-name: trace, race;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes race {
  40%, 100% {
    stroke-width: 1.5vw;
    stroke: black;
  }
}

svg {
  pointer-events: none;
}
.y-snap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
.pane {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}
.pane > * {
  flex: 1 0 50%;
}
.x-snap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  width: 30vw;
  height: 30vh;
  line-height: 30vh;
  white-space: nowrap;
}
.x-snap > div {
  display: inline-block;
  font-family: -apple-system;
  scroll-snap-align: center;
  width: 30vw;
  height: 30vh;
  scroll-snap-align: start;
  text-align: center;
  font-size: 10vw;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
  path {
    stroke: #333;
  }
  @keyframes race {
    40%, 100% {
      stroke-width: 1.5vw;
      stroke: #eee;
    }
  }
}

@media (max-width:500px) {
  path {
    stroke-width: 1vh;
  }
  .pane {
    justify-content: center;
    flex-direction: column;
  }
  @keyframes race {
    40%, 100% {
      stroke-width: 1.5vh;
      stroke: black;
    }
  }
  .pane > * {
    flex: 1 0 auto;
  }
}
